@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
* {
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased !important;
}
*::-webkit-scrollbar {
  width: 10px;
	background: var(--background-gradient);
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}
*::-webkit-scrollbar-track {
	background: var(--background-gradient);
  transition: all 0.3s ease 0s;
}
*::-webkit-scrollbar-thumb {
  background: var(--primary-gradient);
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

html {
  background: var(--background-gradient);
  transition: all 0.3s ease 0s;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--background-gradient);
  color: var(--text-e);
  overflow-x: hidden;
  transition: all 0.3s ease 0s;
}

header {
  position: absolute;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 50px;
}
.webHeader {
  width: 100%;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.mobileHeader {
  display: none;
}

.headerLogo {
  width: 50%;
  margin: 0 12em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headerLogo a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerLogo h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  color: var(--text-e);
  margin: 20px;
}
.logo {
  margin-left: -120px;
  margin-right: 20px;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  font-weight: bold;
}

.headerButton {
  margin: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.helloBtn {
  border: none;
  outline: none;
  background: var(--primary-gradient);
  color: var(--text);
  font-size: 14px;
  font-weight: bold;
  border-radius: 15%/50%;
  padding: 14px 30px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.helloBtn:hover {
  box-shadow: 0px 10px 20px rgba(1, 14, 8, 0.7);
  transform: translateY(-5px);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#topPage  {
  top: 0;
  display: flex;
  flex-direction: row;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  align-items: center;
  background: var(--background-secondary);
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: end;
  width: 100%;
  margin-right: 60px;
}
.mainTitle {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2.5em;
  font-weight: bold;
}
.mainTitle h1 {
  width: 80%;
}
.mainSubTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -10px;
  margin-bottom: 20px;
  color: var(--text-a);
  font-size: 1em;
}
.mainSubTitle h2 {
  width: 61%;
}
.mainSubTitle span {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.moreBtn {
  border: none;
  outline: none;
  background: var(--primary-gradient);
  color: var(--text);
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 15%/50%;
  margin-top: 30px;
  margin-right: 50px;
  padding: 0.5em 2em;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.moreBtn:hover {
  box-shadow: 0px 10px 20px rgba(1, 14, 8, 0.7);
  transform: translateY(-5px);
}
.mainImg {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
  margin-left: 60px;
}
/*.mainImg::after {
  content: "";
  margin-top: 30px;
  margin-left: 2%;
  background: rgba(43, 42, 42, 0.4);
  width: 50%;
  height:4px;
  border-radius:50%;
  filter: blur(5px);
  animation: moveShadown 1s ease infinite alternate;
}
@keyframes moveShadown {
  from {background: rgba(43, 42, 42, 0.4);}
  to {background: rgba(43, 42, 42, 0.8);}
}
.mainImg img {
  position: relative;
  width: 500px;
  animation: moveImg 1s ease infinite alternate;
}

@keyframes moveImg {
  from {top: 0px;}
  to {top: 10px;}
}
*/

#service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

#service h2 {
  font-size: 38px;
  font-weight: bold;
  color: var(--text-e);
}

#partner {
  margin-bottom: 200px;
}
.partnerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.partnerContent h2 {
  font-size: 38px;
  font-weight: bold;
  color: var(--text-e);
}
.partnerCompanys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.partnerCompanys img {
  margin: 20px;
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}
.webProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.webProjects h2 {
  font-size: 38px;
  font-weight: bold;
  color: var(--text-e);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}
#contact h2 {
  font-size: 2.2em;
  font-weight: bold;
  color: var(--text-e);
}

.webContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1000px;
  background: var(--background-secondary-gradient);
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(1, 14, 8, 0.7);
}

.contactBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.contactBody form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 600px;
}
.contactBody div {
  width: 100%;
}
.contactBody div input {
  width: 100%;
  height: 30px;
  font-size: 16px;
  border: 2px solid var(--secondary);
  outline: none;
  border-radius: 20px;
  background-color: var(--background);
  color: var(--text-e);
  padding: 8px;
  margin: 5px;
  transition: all 0.3s ease 0s;
}
.contactBody div input:focus {
  background-color: var(--background-secondary);
  border: 2px solid var(--primary-5);
}
.contactBody div input::-webkit-input-placeholder {
  color: var(--text-7);
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--text-7);  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--text-7);  
}

:-ms-input-placeholder {  
  color: var(--text-7);  
}
.contactBody textarea {
  width: 99.2%;
  height: 200px;
  font-size: 16px;
  border: 2px solid var(--secondary);
  outline: none;
  border-radius: 20px;
  background-color: var(--background);
  color: var(--text-e);
  padding: 9px;
  margin: 5px;
  margin-left: 5px;
  transition: all 0.3s ease 0s;
}
.contactBody textarea:focus {
  background-color: var(--background-secondary);
  border: 2px solid var(--primary-5);
}
.contactBody textarea::-webkit-input-placeholder {
  color: var(--text-7);
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--text-7);  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--text-7);  
}

:-ms-input-placeholder {  
  color: var(--text-7);  
}
.contactSend {
  border: none;
  outline: none;
  margin: 10px 0px 10px 12px;
  height: 3.5em;
  width: 30em;
  text-decoration: none;
  background: var(--primary-gradient);
  color: var(--text);
  font-size: 1em;
  font-weight: bold;
  border-radius: 5%/50%;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.contactSend:hover {
  box-shadow: 0px 10px 20px rgba(1, 14, 8, 0.7);
  transform: translateY(-5px);
}

footer {
  border-top: 4.8px solid var(--background-secondary-gradient);
}

.footerContent {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 2em;
}
.footerContainer h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 26px;
  text-align: center;
  color: var(--text-e);
}

.footerSocial a {
  padding: 0;
  margin: 2px;
}
.footerSocial a svg {
  padding: 14px;
  background-color: rgba(32, 32, 36, 0);
  border: 2px solid var(--primary);
  color: var(--secondary);
  border-radius: 20px;
  transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in; 
  -o-transition: 0.15s ease-in;
  -webkit-box-shadow: 2px 2px 10px 0px #000000; 
  box-shadow: 2px 2px 10px 0px #000000;
}
.footerSocial a svg:hover {
  color: #121214;
  background: var(--primary-gradient);
  transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in; 
  -o-transition: 0.15s ease-in;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8.5em;
}
.footerLogo h4 {
  font-size: 16px;
  font-weight: normal;
  color: var(--text-a);
}

.footerLogoContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}
.footerButton a {
  outline: none;
  background-color: rgba(32, 32, 36, 0);
  border: 2px solid var(--primary);
  color: var(--primary);
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  padding: 14px 14px 8px 14px;
  text-decoration: none;
  transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in; 
  -o-transition: 0.15s ease-in;
}
.footerButton a:hover {
  color: var(--background-gradient);
  background: var(--primary-gradient);
  transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in; 
  -o-transition: 0.15s ease-in;
}


.footerAuthor {
  border-top: 1.8px solid var(--background-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}